<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{SERVER_NAME} ^archival\.dyden.de$ [NC]
    RewriteRule ^(.*)$ http://archivalproject.org/$1 [R=301,L]
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
	
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
